$screen-xs-400: 400px !default;
$screen-xs-450: 450px !default;
$screen-xs-500: 500px !default;
$screen-sm-min: 768px !default;
$screen-md-min: 992px !default;
$screen-lg-min: 1200px !default;
$screen-fhd-min: 1600px !default;

$indent-size: 16px !default;

$white: #ffffff !default;
$gray: #d0d0d0;
$gray8: rgb(215, 215, 215,0.6);
$secondary: #6d717b;
$bg-purple: #e2abff;
$black8: rgba(0, 0, 0, 0.8) !default;
$black8-87: rgba(0, 0, 0, 0.87) !default;

$purple: rgb(142, 36, 170) !default;
$yellow:  rgb(248, 215, 103) !default;
$yellow-light: rgb(244, 224, 164) !default;
$yellow-hard: rgb(253, 217, 69) !default;
